name: Page Publish

on:
  push:
    branches:
      - main

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  page:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
      - name: Setup Ninja
        run: sudo apt update && sudo apt install -y ninja-build
      - name: Build Site
        run: cd example && emcmake cmake -G Ninja -B build -DPLATFORM=Web && cmake --build build && mkdir -p dist && mv build/*.wasm build/*.js dist/ && mv build/pntr_app_sfx_example.html dist/index.html && mv build/pntr_app_sfx_gen.html dist/editor.html
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'example/dist'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4